include ../timefield/timefield.pug
include ../button/button.pug

append styles
  link(rel='stylesheet', href='../../components/table/table.less')
append skripts
  //- script(type='module', src='../../components/table/table.js')

append mixins
  mixin table(options = {})
    -
      options.class = options.class ? `table ${options.class}` : `table `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` table-${mod.join(` table-`)} ` : '';
      delete options.mod;
      // if (mod.includes('colored')) {};

    div()&attributes(options)&attributes(attributes)
      .table__title
        span='Задать интервал таблицы'
        +timefield()
        span='--'
        +timefield()
      .table__workspace
        //-
          span.table__day.mon=   'Пн'
          span.table__day.tues=  'Вт'
          span.table__day.wed=   'Ср'
          span.table__day.thurs= 'Чт'
          span.table__day.fri=   'Пт'
          span.table__day.sat=   'Сб'
          span.table__day.sun=   'Вс'

          span.table__time_col
        table(border='1')
          colgroup
            col(span='9999')
          tr
            th
            th='Q'
            th='W'
          tr
            th.table__day.mon=   'Пн'
            td='0'
            td='0'
            td='0'
          tr
            th.table__day.tues=  'Вт'
            td='0'
            td='0'
            td='0'
          tr
            th.table__day.wed=   'Ср'
            td='0'
            td='0'
          tr
            th.table__day.thurs= 'Чт'
            td='0'
            td='0'
          tr
            th.table__day.fri=   'Пт'
            td='0'
            td='0'
          tr
            th.table__day.sat=   'Сб'
            td='0'
            td='0'
          tr
            th.table__day.sun=   'Вс'
            td='0'
            td='0'

      .table__buttons_container
          .table__buttons
            +button({text:'Заполнить автоматически', mod:'slim'})
            +button({text:'Очистить', mod:'slim'})
