append styles
  link(rel='stylesheet', href='../../components/nav/nav.less')
append skripts
  //- script(type='module', src='../../components/nav/nav.js')

append mixins
  mixin nav(options = {}, items = [])
    -
      if (!options.items)
        options.items = [];
      items = options.items.concat(items);
      delete options.items;
      if (items.length < 1)
        items = [
          'Тип предприятия',
          'Категории',
          'График работы',
          'Оборот и нагрузка',
          'Должности',
          'Тип нагрузки',
        ];
      const selectedItem = -1 + isFinite(options.selectedItem) ? options.selectedItem : 3;
      delete options.selectedItem;

    nav(class=`nav`)&attributes(options)&attributes(attributes)
      each item, index in items
        .nav__item
          h2.nav__title=item
          b.nav__number(class= `${ index < selectedItem ? 'nav__number-dane' : ''} ${ index == selectedItem ? 'nav__number-in_progress' : ''}`)=`${index + 1}`
          if index < items.length-1
            div.nav__line(class= `${ index < selectedItem-1 ? 'nav__line-dane' : ''} ${ index == selectedItem-1 ? 'nav__line-in_progress' : ''}`)
